<script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
	        		<li><a href="/blog">BLOG</a></li>
		        	<li><a href="/about">ABOUT</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:me@meixuanshi.com">email</a></li>
	        		<li><a href="http://github.com/relevart">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
